@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
  margin: 0;
}
/* Navegador*/
header{
  justify-content: space-evenly;
  align-items: center;
}

.nav-top{
  font-family:'Pangolin';
  background-color: #fff;
  width: 100%;
  height: 90px;
  opacity: 70%;
}
.menu{
  float: right;
  padding: 10px 80px 0px 0px;
}
.logo{
  width: 30%;
  display: inline-block;
  padding: 22px 0px 22px 80px;

}

ul li a {
  padding: 0 40px;
}

ul
{
margin:0;
padding-top: 30px;
list-style-type: none;
overflow: hidden;

}

body{
  font-family: 'Pangolin';
  background-color: #CFC0B8;
}

main{
  background-color: #CFC0B8;
}

li {
  float: left;
  font-size: 22px;
}

li a {
  display: block;
  color: #707070;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color:#CFC0B8;
}

/* Empieza form*/

.contact_form{  
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  padding-left: 30px; 
  text-align: center;
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #493a2e; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #c7bba2; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  background-color: #F6F1ED; 
  border-color: #F6F1ED; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color:#707070;
  font-family: Pangolin;
  }


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #533326;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

 
/* Inicia el footer*/

 
footer h6 {
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color:#707070;

            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: rgb(161, 40, 40);
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}

 .social .fa {
font-size: 22px;
padding: 10px 15px;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #B68482 !important;

}

footer {
  padding: 3%;
  background-color: #F6F1ED;
}


.social {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 20px 500px 0px 0px;
  width: 50%;
}

.social-button {
  width: 64px;
  padding: 8%;
}

.img-fosshost {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contacto{
  float: right;
  padding:20px 0px 0px 500px
}

.imgW{
 padding: 20px 100px 0px 0px;
}